.page-img{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.page-back{
    padding-top: 0;
}

.board-title {
    cursor: default;
    pointer-events: none;
    user-select: none;
}

@keyframes Zooming {
    0%, 100% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
}

.Zooming {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: noticeZooming 20s infinite ease-in;
}

select {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-right:8px;
    color:black;
    width: 10%;
    height: 40px;
}

#noticeTitle {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color:black;
    width: 89%;
    height: 40px;
}

#noticeContents{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
}

/* Button effect animation */
#reset {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #999999;
}

#reset:hover {
    background-color: #CCCCCC;
}

#addNotice {
    position: relative;
    overflow: hidden;
    background-color: #FFA100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 90px;
}

#addNotice:hover{
    background-color: #FFD700;
}

#getNoticeList{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 90px;
    margin-right: 15px;
}

#addNotice span {
    position: absolute;
    display: block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#addNotice span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

#addNotice span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

#addNotice span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

#addNotice span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}