.notice-content {
    white-space: pre-line;
    font-size: 20px;
    padding: 0 0;
    margin-left:160px;
    margin-top:-10px;
}

.page-img{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.board-title {
    cursor: default;
    pointer-events: none;
    user-select: none;
}

@keyframes Zooming {
    0%, 100% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
}

.Zooming {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: noticeZooming 20s infinite ease-in;
}

/* Button effect animation */
#updateNoticeView {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 90px;
}

#deleteNotice {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 90px;
    background-color:#E53935;
}

#deleteNotice:hover {
    background-color:#FF5252;
}

#getNoticeList {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 90px;
    background-color: #999999;
}

#getNoticeList:hover {
    background-color: #CCCCCC;
}