.notice-content {
    white-space: pre-line;
    font-size: 20px;
}


.page-img{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.table-header th {
    background-color: black;
    color: white;
}

.table-body td {
    color: #558B2F;
}

/*타이틀 제목*/
.main-head {
    text-align: center;
}

@keyframes noticeZooming {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
}

.noticeZooming {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: noticeZooming 20s infinite ease-in;
}

.important-row {
    background-color: #f5f5f5;
    font-weight: bold;
}

td {
    background-color: white;
}

.table-striped{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.table-striped tbody tr:hover td {
    background-color: #f5f5f5;
}

.pagination .page-item .page-link {
    border-radius: 50%;
}

.board-title {
    cursor: default;
    pointer-events: none;
    user-select: none;
}

/*페이지 내비게이션*/

.pagination li.disabled a {
    cursor: default;
    pointer-events: none;
}

.pagination li a {
    user-select: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


/* Button effect animation */
#updateNoticeView {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 90px;
}

#deleteNotice {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 90px;
}

#getNoticeList {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 90px;
}