<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>채팅방 추가</title>
</head>
<body>
<h1>채팅방 추가</h1>
<form action="/chatroom/add" method="post">
    <input type="text" name="chatRoomTitle" placeholder="채팅방 제목" />
    <input type="date" name="travelStartDate" placeholder="여행 시작일" />
    <input type="text" name="ageRange" placeholder="나잇대" />
    <input type="number" name="maxPersons" placeholder="최대 인원수" />
    <input type="number" name="tripPlanNo" placeholder="여행 번호" />
    <input type="text" name="userId" placeholder="유저이름 히든예정" /> <!--hidden 예정 -->

    <input type="submit" value="생성" />
</form>
</body>
</html>