@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #1b6d85;
	--dark-color-b: #33798f;
	--light-color: #75ff66;
	/*--success-color: #4b4b4b;*/
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);

}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

/* Chat Page */

.chat-container {
	/*max-width: 100%;*/
	/*max-height: 100%;*/
	background: #ffffff;
	/*margin: 30px auto;*/
	overflow: hidden;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	height: 80vh;
	display: grid;
	grid-template-columns: 1fr 3fr 2fr;
}
.chat-trip{
	height: 80vh;
	background: rgba(185, 238, 232, 0.37);
	overflow-y: scroll;
}
.chat-sidebar {
	height: 80vh;
	background: var(--dark-color-b);
	color: #ffffff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
	font-size: 20px;
}

.chat-messages {
	padding: 30px;
	max-height: 100%;

	overflow-y: scroll;
}
/*.chat-messages .message .userbox{*/

/*}*/
.chat-messages .message {
	padding: 5px;

	border-radius: 5px;
	overflow-wrap: break-word;
	/* 왼쪽에 위치하는 스타일 */
	align-self: flex-start;
	float: right;
	clear: both;
}

.chat-messages .message2 {
	padding: 5px;

	border-radius: 5px;
	overflow-wrap: break-word;
	/* 오른쪽에 위치하는 스타일 */
	align-self: flex-end;
	float: left;
	clear: both;

}

/*.chat-messages .message {*/
/*	font-size: 15px;*/
/*	font-weight: bold;*/
/*	color: var(--dark-color-b);*/
/*	background-color: var(--light-color);*/
/*	opacity: 0.7;*/
/*	margin-bottom: 7px;*/
/*}*/

/*.chat-messages .message .chatOthers {*/
/*	font-size: 15px;*/
/*	font-weight: bold;*/
/*	color: #e67e39;*/
/*	opacity: 0.7;*/
/*	margin-bottom: 7px;*/
/*}*/
.chat-messages .message .meta span {
	color: #777;

}

.chat-form-container {
	padding: 20px 20px;
	width: 100%;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 10px;
	height: 40px;
	flex: 2;
}

.chat-container {
	margin-bottom: 10px;
}

.chat {
	display: inline-block;
	background-color: #F5F8FA;
	padding: 8px;
	border: 1px solid #E1E8ED;
	border-radius: 20px;
	font-size: 14px;
	line-height: 1.4;
	color: #14171A;
}

.chat span {
	font-weight: bold;
	color: #333;
}

.chat p {
	margin: 5px 0 0;
}
.chat2 {
	display: inline-block;
	background-color: #F5F8FA;
	padding: 8px;
	border: 1px solid #E1E8ED;
	border-radius: 20px;
	font-size: 14px;
	line-height: 1.4;
	color: #14171A;
}

.chat2 span {
	font-weight: bold;
	color: #333;
}

.chat2 p {
	margin: 5px 0 0;
}
.text {
	background-color: #ffd966;
	display: inline-block;
	padding: 10px;
	border-radius: 15px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #14171A;
	float: right;
}
.text2 {
	background-color: #b9eee8;
	display: inline-block;
	padding: 10px;
	border-radius: 15px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #14171A;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}