<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.motrip.dao.alarm.AlarmDao">

    <resultMap id="alarmResultMap" type="com.bit.motrip.domain.Alarm">
        <id property="alarmNo" column="alarm_no" />
        <result property="alarmCategory" column="alarm_category" />
        <result property="alarmLevel" column="alarm_level" />
        <result property="alarmTitle" column="alarm_title" />
        <result property="alarmContents" column="alarm_contents" />
        <result property="alarmSender" column="alarm_sender" />
        <result property="alarmSenderNick" column="alarm_sender_nick" />
        <result property="alarmReceiver" column="alarm_receiver" />
        <result property="alarmReceiverNick" column="alarm_receiver_nick" />
        <result property="alarmRegDate" column="alarm_reg_date" />
        <result property="alarmReadDate" column="alarm_read_date" />
        <result property="alarmAcceptUrl" column="alarm_accept_url" />
        <result property="alarmRejectUrl" column="alarm_reject_url" />
        <result property="alarmNaviUrl" column="alarm_navi_url" />
        <result property="alarmHold" column="alarm_hold" />
    </resultMap>
    <insert id="addAlarm" parameterType="com.bit.motrip.domain.Alarm">
        INSERT INTO alarms (alarm_category, alarm_level, alarm_title,
                            alarm_contents, alarm_sender, alarm_sender_nick, alarm_receiver,
                            alarm_receiver_nick, alarm_read_date, alarm_accept_url,
                            alarm_reject_url, alarm_navi_url)
        VALUES (#{alarmCategory}, #{alarmLevel}, #{alarmTitle},
                #{alarmContents}, #{alarmSender}, #{alarmSenderNick}, #{alarmReceiver},
                #{alarmReceiverNick}, #{alarmReadDate}, #{alarmAcceptUrl},
                #{alarmRejectUrl}, #{alarmNaviUrl})
    </insert>

    <update id="readAlarm" parameterType="int">
        UPDATE alarms
        SET
        alarm_read_date = NOW()
        WHERE alarm_no = #{alarmNo}
    </update>

    <delete id="removeAlarm" parameterType="int">
        DELETE FROM alarms
        WHERE alarm_no = #{alarmNo}
    </delete>

    <update id="holdAlarm" parameterType="int">
        UPDATE alarms
        SET
        alarm_hold = 1
        WHERE alarm_no = #{alarmNo}
    </update>

    <select id="getUnreadAlarmCount" parameterType="String" resultType="int">
        SELECT
            COUNT(alarm_no)
        FROM alarms
        WHERE alarm_receiver = #{userId}
          AND alarm_level IN (1, 2)
    </select>

    <select id="getAlarmList" parameterType="com.bit.motrip.common.Search" resultMap="alarmResultMap">
        SELECT alarm_no, alarm_category, alarm_level, alarm_title,
               alarm_contents, alarm_sender, alarm_sender_nick, alarm_receiver,
               alarm_receiver_nick, alarm_reg_date, alarm_read_date, alarm_accept_url,
               alarm_reject_url, alarm_navi_url, alarm_hold
        FROM alarms
        WHERE alarm_receiver = #{searchKeyword}
        ORDER BY alarm_level ASC, alarm_reg_date ASC
        LIMIT #{mysqlStartRowNum}, #{pageSize}
    </select>


</mapper>