<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.motrip.dao.chatroom.ChatRoomDao">
	<resultMap id="chatRoomResultMap" type="com.bit.motrip.domain.ChatRoom">
		<id column="chat_room_no" property="chatRoomNo" jdbcType="INTEGER"/>
		<result column="chat_room_title" property="chatRoomTitle" jdbcType="VARCHAR"/>
		<result column="travel_start_date" property="travelStartDate" jdbcType="DATE"/>
		<result column="age_range" property="ageRange" jdbcType="VARCHAR" />
		<result column="max_persons" property="maxPersons" jdbcType="INTEGER"/>
		<result column="current_persons" property="currentPersons" jdbcType="INTEGER"/>
	</resultMap>

	<resultMap id="chatMemberResultMap" type="com.bit.motrip.domain.ChatMember">
		<id column="member_no" property="memberNo" jdbcType="INTEGER"/>
		<result column="chat_room_no" property="chatRoomNo" jdbcType="INTEGER"/>
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="trip_plan_no" property="tripPlanNo" jdbcType="INTEGER"/>
		<result column="is_chat_room_author" property="isChatRoomAuthor" jdbcType="TINYINT"/>
	</resultMap>

	<insert id="addChatRoom" parameterType="com.bit.motrip.domain.ChatRoom">
		insert into chat_rooms (chat_room_title, travel_start_date, age_range, max_persons, current_persons)
		values (#{chatRoomTitle}, #{travelStartDate}, #{ageRange}, #{maxPersons}, #{currentPersons})
	</insert>

		<select id="getChatRoom" resultMap="chatRoomResultMap">
			select
				cr.chat_room_no,
				cr.chat_room_title,
				cr.travel_start_date,
				cr.age_range,
				cr.max_persons,
				cr.current_persons
			from
				chat_rooms cr
			where
				cr.chat_room_no = #{chatRoomNo};
		</select>

	<update id="updateChatRoom" parameterType="com.bit.motrip.domain.ChatRoom">
		update chat_rooms
		set
			chat_room_title = #{chatRoomTitle},
			travel_start_date = #{travelStartDate},
			age_range = #{ageRange},
			max_persons = #{maxPersons},
			current_persons = #{currentPersons}
		where
			chat_room_no = #{chatRoomNo}
	</update>

	<delete id="deleteChatRoom" parameterType="com.bit.motrip.domain.ChatRoom">
		DELETE FROM chat_rooms
		WHERE chat_room_no = #{chatRoomNo}
	</delete>
</mapper>