<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.motrip.dao.chatroom.ChatRoomDao">
	<resultMap id="chatRoomResultMap" type="com.bit.motrip.domain.ChatRoom">
		<id column="chat_room_no" property="chatRoomNo" jdbcType="INTEGER"/>
		<result column="chat_room_title" property="chatRoomTitle" jdbcType="VARCHAR"/>
		<result column="travel_start_date" property="travelStartDate" jdbcType="DATE" javaType="java.util.Date" />
		<result column="min_age" property="minAge" jdbcType="INTEGER"/>
		<result column="max_age" property="maxAge" jdbcType="INTEGER"/>
		<result column="gender" property="gender" jdbcType="VARCHAR"/>
		<result column="max_persons" property="maxPersons" jdbcType="INTEGER"/>
		<result column="current_persons" property="currentPersons" jdbcType="INTEGER"/>
		<result column="chat_room_status" property="chatRoomStatus" jdbcType="INTEGER"/>
		<result column="trip_plan_no" property="tripPlanNo" jdbcType="INTEGER"/>
		<result column="trip_days" property="tripDays" jdbcType="INTEGER"/>
		<result column="trip_plan_title" property="tripPlanTitle" jdbcType="VARCHAR"/>
	</resultMap>

	<resultMap id="chatMemberResultMap" type="com.bit.motrip.domain.ChatMember">
		<id column="member_no" property="memberNo" jdbcType="INTEGER"/>
		<result column="chat_room_no" property="chatRoomNo" jdbcType="INTEGER"/>
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="trip_plan_no" property="tripPlanNo" jdbcType="INTEGER"/>
		<result column="is_chat_room_author" property="isChatRoomAuthor" jdbcType="TINYINT"/>
	</resultMap>




	<insert id="addChatRoom" parameterType="com.bit.motrip.domain.ChatRoom">
		<selectKey keyProperty="chatRoomNo" resultType="int" order="AFTER">
			select last_insert_id()
		</selectKey>
		insert into chat_rooms (chat_room_title, travel_start_date, min_age, max_age, gender, max_persons, current_persons)
		values (#{chatRoomTitle}, #{travelStartDate}, #{minAge},#{maxAge},#{gender}, #{maxPersons}, #{currentPersons})
	</insert>

		<select id="getChatRoom" parameterType="int" resultMap="chatRoomResultMap">
			SELECT
				cr.chat_room_no,
				cr.chat_room_title,
				cr.travel_start_date,
				cr.min_age,
				cr.max_age,
				cr.gender,
				cr.max_persons,
				cr.current_persons,
				cr.chat_room_status,
				cm.trip_plan_no,
				cm.user_id
			FROM chat_rooms cr
					 LEFT JOIN chat_room_members cm ON cr.chat_room_no = cm.chat_room_no
			where cm.chat_room_no = #{chatRoomNo} and is_chat_room_author = 1
		</select>

	<update id="updateChatRoom" parameterType="com.bit.motrip.domain.ChatRoom">
		update chat_rooms
		set
			chat_room_title = #{chatRoomTitle},
			travel_start_date = #{travelStartDate},

			max_persons = #{maxPersons},
			current_persons = #{currentPersons}
		where
			chat_room_no = #{chatRoomNo}
	</update>

	<delete id="deleteChatRoom" parameterType="com.bit.motrip.domain.ChatRoom">
		DELETE FROM chat_rooms
		WHERE chat_room_no = #{chatRoomNo}
	</delete>
	
	<update id="changeRoomStatus" parameterType="Map">
		update chat_rooms
		set
		    chat_room_status = #{chatRoomStatus}
		where
			chat_room_no = #{chatRoomNo}
	</update>

	<select id="chatRoomList" resultMap="chatRoomResultMap">
		SELECT
			*
		FROM
			chat_rooms cr
			RIGHT JOIN (select chat_room_no,trip_plan_no from chat_room_members group by chat_room_no, trip_plan_no) crm
			    on cr.chat_room_no = crm.chat_room_no order by cr.chat_room_no
	</select>

<!--	<select id="chatRoomListPage" resultMap="chatRoomResultMap">-->
<!--		SELECT-->
<!--			*-->
<!--		FROM-->
<!--			chat_rooms cr-->
<!--				RIGHT JOIN (select chat_room_no,trip_plan_no from chat_room_members group by chat_room_no, trip_plan_no) crm-->
<!--						   on cr.chat_room_no = crm.chat_room_no order by cr.chat_room_no-->
<!--		LIMIT 4;-->
<!--	</select>-->
		<select id="chatRoomListPage" parameterType="com.bit.motrip.common.Search" resultMap="chatRoomResultMap">
		select * from
		(SELECT cr.*, tp.trip_plan_no,tp.trip_days, tp.trip_plan_title, ROW_NUMBER() OVER (ORDER BY cr.chat_room_no) AS row_seq
			FROM chat_rooms cr
					 RIGHT JOIN (
				SELECT crm.chat_room_no, crm.trip_plan_no
				FROM chat_room_members crm
				<if test="searchCondition != null">
					<where>
							chat_room_title like '%${searchKeyword}'
					</where>
				</if>
				GROUP BY crm.chat_room_no, crm.trip_plan_no
			) crm ON cr.chat_room_no = crm.chat_room_no
					 LEFT JOIN trip_plan tp ON crm.trip_plan_no = tp.trip_plan_no
			ORDER BY cr.chat_room_no) AS temp
		WHERE
            row_seq BETWEEN #{startRowNum} AND #{endRowNum}
		</select>

	<select id="chatRoomCount" resultType="int">
		SELECT
			count(chat_room_no)
		FROM
			chat_rooms
	</select>

<!--	<select  id="getChatRoomTotalCount" parameterType="com.bit.motrip.common.Search" resultType="int">-->
<!--		SELECT-->
<!--			COUNT(*)-->
<!--		FROM-->
<!--			(-->
<!--				SELECT-->
<!--					*-->
<!--				FROM-->
<!--					chat_rooms-->

<!--			) countTable-->
<!--	</select>-->
	<select  id="getChatRoomTotalCount"  parameterType="com.bit.motrip.common.Search"	 resultType="int">
		SELECT COUNT(*)
		FROM(	SELECT *
		FROM chat_rooms
<!--		<if test="searchCondition != null">-->
<!--			<where>-->
<!--				<if test="searchCondition == 0 and searchKeyword !='' ">-->
<!--					prod_no = #{searchKeyword}-->
<!--				</if>-->
<!--				<if test="searchCondition == 1 and searchKeyword !='' ">-->
<!--					prod_name = #{searchKeyword}-->
<!--				</if>-->
<!--				<if test="searchCondition == 2 and searchKeyword !='' ">-->
<!--					price = #{searchKeyword}-->
<!--				</if>-->
<!--			</where>-->
<!--		</if> ) countTable-->
		) countTable
	</select>
</mapper>