<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.motrip.dao.tripplan.DailyPlanDao">

    <resultMap id="dailyPlanResultMap" type="com.bit.motrip.domain.DailyPlan">
        <id     column="daily_plan_no"          property="dailyPlanNo"         jdbcType="INTEGER"/>
        <result column="trip_plan_no"           property="tripPlanNo"          jdbcType="INTEGER"/>
        <result column="daily_plan_contents"    property="dailyPlanContents"   jdbcType="VARCHAR"/>
        <result column="total_trip_time"        property="totalTripTime"       jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 일차별 여행플랜 작성 쿼리문 -->
    <insert id="addDailyPlan" parameterType="com.bit.motrip.domain.DailyPlan">
        INSERT INTO daily_plan ( trip_plan_no, daily_plan_contents, total_trip_time )
        VALUES ( #{tripPlanNo}, #{dailyPlanContents}, #{totalTripTime} )
    </insert>

    <!-- 작성된 일차별 플랜의 번호를 찾기 위한 쿼리문 -->
    <select id="getDailyPlan" resultType="int">
        SELECT MAX(daily_plan_no) FROM daily_plan ORDER BY trip_plan_no;
    </select>

    <!-- 여행플랜에 맞는 일차별 여행플랜을 모두 찾기위한 쿼리문 -->
    <select id="selectDailyPlan" parameterType="int" resultMap="dailyPlanResultMap">
        SELECT * FROM daily_plan WHERE trip_plan_no = #{tripPlanNo}
    </select>

    <!-- 작성된 일차별 여행플랜 수정 -->
    <update id="updateDailyPlan" parameterType="com.bit.motrip.domain.DailyPlan">
        UPDATE daily_plan
        SET daily_plan_contents = #{dailyPlanContents},
        total_trip_time = #{totalTripTime}
        WHERE daily_plan_no = #{dailyPlanNo}
    </update>

    <!-- 작성된 일차별 여행플랜 삭제 -->
    <delete id="deleteDailyPlan" parameterType="int">
        DELETE FROM daily_plan WHERE daily_plan_no = #{dailyPlanNo}
    </delete>

</mapper>