<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.motrip.dao.tripplan.PlaceDao">

    <resultMap id="placeResultMap" type="com.bit.motrip.domain.Place">
        <id     column="place_no"           property="placeNo"              jdbcType="INTEGER"/>
        <result column="daily_plan_no"      property="dailyPlanNo"          jdbcType="INTEGER"/>
        <result column="place_tags"         property="placeTags"            jdbcType="VARCHAR"/>
        <result column="place_coordinates"  property="placeCoordinates"     jdbcType="VARCHAR"/>
        <result column="place_image"        property="placeImage"           jdbcType="VARCHAR"/>
        <result column="place_phone_number" property="placePhoneNumber"     jdbcType="VARCHAR"/>
        <result column="place_address"      property="placeAddress"         jdbcType="VARCHAR"/>
        <result column="place_category"     property="placeCategory"        jdbcType="INTEGER"/>
        <result column="trip_time"          property="tripTime"             jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getAllPlaces" resultMap="placeResultMap">
        select * from place
    </select>

    <select id="getPlaceById" resultMap="placeResultMap">
        select * from place where place_no = #{placeNo}
    </select>

    <insert id="insertPlace" parameterType="com.bit.motrip.domain.Place">
        insert into place (place_name, place_coordinates, place_image, place_phone_number, place_address, place_category, trip_time)
        values (#{placeName}, #{placeCoordinates}, #{placeImage}, #{placePhoneNumber}, #{placeAddress}, #{placeCategory}, #{tripTime})
    </insert>

    <update id="updatePlace" parameterType="com.bit.motrip.domain.Place">
        update place set place_name = #{placeName}, place_coordinates = #{placeCoordinates}, place_image = #{placeImage}, place_phone_number = #{placePhoneNumber}, place_address = #{placeAddress}, place_category = #{placeCategory}, trip_time = #{tripTime} where place_no = #{placeNo}
    </update>

    <delete id="deletePlace" parameterType="int">
        delete from place where place_no = #{placeNo}
    </delete>

</mapper>