<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.motrip.dao.tripplan.TripPlanDao">

    <resultMap id="tripPlanResultMap" type="com.bit.motrip.domain.TripPlan">
        <id column="trip_plan_no" property="tripPlanNo"/>
        <result column="trip_plan_author" property="tripPlanAuthor"/>
        <result column="trip_plan_title" property="tripPlanTitle"/>
        <result column="trip_plan_thumbnail" property="tripPlanThumbnail"/>
        <result column="trip_days" property="tripDays"/>
        <result column="trip_plan_reg_date" property="tripPlanRegDate"/>
        <result column="trip_plan_del_date" property="tripPlanDelDate"/>
        <result column="is_plan_deleted" property="isPlanDeleted"/>
        <result column="is_plan_public" property="isPlanPublic"/>
        <result column="is_plan_downloadable" property="isPlanDownloadable"/>
        <result column="is_trip_completed" property="isTripCompleted"/>
        <result column="trip_plan_likes" property="tripPlanLikes"/>
        <result column="trip_plan_views" property="tripPlanViews"/>
    </resultMap>

    <select id="selectTripPlanList" resultType="com.bit.motrip.domain.TripPlan">
        select * from trip_plan
    </select>

    <insert id="insertTripPlan" parameterType="com.bit.motrip.domain.TripPlan">
        INSERT INTO trip_plan (
        trip_plan_author, trip_plan_title, trip_plan_thumbnail, trip_days, trip_plan_reg_date, trip_plan_del_date, is_plan_deleted, is_plan_public, is_plan_downloadable, is_trip_completed, trip_plan_likes, trip_plan_views
        ) VALUES (
        #{tripPlanAuthor}, #{tripPlanTitle}, #{tripPlanThumbnail}, #{tripDays}, #{tripPlanRegDate}, #{tripPlanDelDate}, #{isPlanDeleted}, #{isPlanPublic}, #{isPlanDownloadable}, #{isTripCompleted}, #{tripPlanLikes}, #{tripPlanViews}
        )
    </insert>

    <update id="updateTripPlan" parameterType="com.bit.motrip.domain.TripPlan">
        UPDATE trip_plan
        SET trip_plan_author = #{tripPlanAuthor}, trip_plan_title = #{tripPlanTitle}, trip_plan_thumbnail = #{tripPlanThumbnail}, trip_days = #{tripDays}, trip_plan_reg_date = #{tripPlanRegDate}, trip_plan_del_date = #{tripPlanDelDate}, is_plan_deleted = #{isPlanDeleted}, is_plan_public = #{isPlanPublic}, is_plan_downloadable = #{isPlanDownloadable}, is_trip_completed = #{isTripCompleted}, trip_plan_likes = #{tripPlanLikes}, trip_plan_views = #{tripPlanViews}
        WHERE trip_plan_no = #{tripPlanNo}
    </update>

    <delete id="deleteTripPlan" parameterType="int">
        DELETE FROM trip_plan
        WHERE trip_plan_no = #{tripPlanNo}
    </delete>

</mapper>